<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
				  
<configuration>
<typeAliases>
			
  	<typeAlias type="com.iu.start.bankmembers.BankMembersDTO" alias="BankMembersDTO"/>
  	<typeAlias type="com.iu.start.bankmembers.BankMembersFileDTO" alias="BankMembersFileDTO"/>
  	
  	
  	<typeAlias type="com.iu.start.bankBook.BankBookDTO" alias="BankBookDTO"/>
  	<typeAlias type="com.iu.start.bankBook.BankBookCommentDTO" alias="BankBookCommentDTO"/>
  	
  	<typeAlias type="java.lang.String" alias="String"/>
  	<typeAlias type="java.lang.Long" alias="Long"/>
  	
  	<typeAlias type="java.util.List" alias="List"/>
  	

  	<typeAlias type="com.iu.start.bankAccount.BankAccountDTO" alias="BankAccountDTO"/>
	<typeAlias type="com.iu.start.board.notice.NoticeDTO" alias="NoticeDTO"/>
	<typeAlias type="com.iu.start.board.impl.BoardDTO" alias="BoardDTO"/>
  	<typeAlias type="com.iu.start.board.impl.BoardFileDTO" alias="BoardFileDTO"/>
	<typeAlias type="com.iu.start.board.qna.QnaDTO" alias="QnaDTO"/>
  	
  	<typeAlias type="com.iu.start.util.Pager" alias="Pager"/>
  	<typeAlias type="com.iu.start.util.CommentPager" alias="CommentPager"/>
  	
  	
  	
  
  	
</typeAliases>

</configuration>	