<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/css_2.css">
</head>
<body>
    <div class="c1">div text1</div>
    <div class="c1">div text2</div>
    <span class="c2">span text1</span>
    <span class="c2">span text2</span>
    <div class="c3">
        div text3
        <div class="c3_1">text3 child</div>
    </div>

    <div class="c4">
        div text4
        <div class="c4_1">text4 child</div>
    </div>

    <div class="c5">
        div text5
        <div class="c5_1">text5 child</div>
    </div>
</body>
</html>