<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="">
            <input type="text" name="" id="d1">
            <input type="text" name="" id="d2">
            <input type="text" name="" id="d3">
            <input type="text" name="" id="d4">
            <span id="span1"></span>
            <select name="" id="d5">
                <option value="iphone14">아이폰14</option>
                <option value="flip4"">플립4</option>
                <option value="folder4">폴더4</option>
            </select>
        </form>
    </div>


 
    
    <script src="/resources/js/dom_5.js"></script>
    <script>
        const emailpat = 'www@naver.com';
        let dd = emailpat.test(/[\w\-]+\@[\w\-]+\.[\w]/g);
        console.log(dd);
    </script>
</body>
</html>