<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #d1 {
            width: 200px;
            height: 200px;
            background-color: yellow;
            cursor: pointer;
        }

        .c1 {
            width: 500px;
            height: 700px;
            background-color: rgba(147, 96, 243, 0.795);
        }

    </style>
</head>
<body>
    <h1>Dom_3 Page</h1>
    <h3 id="d1" onclick="test()"></h3>
    <a href="#img1">IMAGE</a>
    <img src="/resources/images/title1.jpg" alt="" id="d2">
    <button type="button" id="btn1" onclick="test()">CLICK</button>
    <div class="c1"></div>
    <img src="/resources/images/title2.jpg" alt="" id="img1">
















    <script src="/resources/js/dom_3.js">//여기는 코드작성해도 작동X</script>
</body>
</html>