<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="d1" value="text">
    <input type="radio" id="d2">
    <div id="d3"></div>
    <div>
        <select id="year">    
        </select>
        <select id="month">

        </select>
        <select id="day">
        </select>
    </div>

    <table id="d4" border="1"></table>
    
    <script src="/resources/js/dom_2.js"></script>
</body>
</html>