<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #d1, #d2 {
            width: 200px;
            height: 200px;
            border: solid skyblue 5px;
        }

        .c2 {
            background-color: powderblue;
        }

        .c4 {
            margin-top: 200px;

        }
    </style>
</head>
<body>
    <div class="c1 c3" id="d1">D1</div>
    <div id="d2">D2</div>
    <button id="d3">TOGGL E</button>
    <button id="d4">REQUEST</button>




    <script src="/resources/js/dom_10.js"></script>
</body>
</html>