<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<mapper namespace="com.iu.start.bankBook.BankBookDAO">
	
	<insert id="setBankbook" parameterType="com.iu.start.bankBook.BankBookDTO">
		INSERT INTO BANKBOOK VALUES (#{bookNum},#{bookName},#{bookRate},1)
	</insert>
	
	<select id="getList" parameterType="java.lang.String"
							resultType="com.iu.start.bankBook.BankBookDTO">
			SELECT * FROM BANKBOOK ORDER BY BOOKNUM DESC
	</select>

	<update id="setChangeSale" parameterType="com.iu.start.bankBook.BankBookDTO">
			UPDATE BANKBOOK SET BOOKSALE = #{bookSale} WHERE BOOKNUM = #{bookNum}
	</update>

	<select id="getDetail" parameterType="com.iu.start.bankBook.BankBookDTO"
								resultType="com.iu.start.bankBook.BankBookDTO">
			SELECT * FROM BANKBOOK WHERE BOOKNUM = #{bookNum}
	</select>

	<update id="setUpdate" parameterType="com.iu.start.bankBook.BankBookDTO">
			UPDATE BANKBOOK SET BOOKNAME = #{bookName},BOOKRATE = #{bookRate} WHERE BOOKNUM = #{bookNum}
	</update>

	<delete id="setDelete" parameterType="com.iu.start.bankBook.BankBookDTO">
			DELETE BANKBOOK WHERE BOOKNUM = #{bookNum}
	</delete>

</mapper>