<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    

<!--namespace의 값은 사용할 DAO의 풀패키지명 -->	
    
<mapper namespace="com.iu.start.bankmembers.BankMembersDAO">

<select id="getLogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">
SELECT USERNAME, NAME FROM BANKMEMBERS WHERE USERNAME=#{userName} AND PASSWORD=#{password}
</select>

<insert id="setJoin" parameterType="BankMembersDTO">
INSERT INTO BANKMEMBERS VALUES(#{userName},#{password},#{name},#{email},#{phone})
</insert>

<select id="getSearchByID" parameterType="String" resultType="BankMembersDTO">
SELECT * FROM BANKMEMBERS WHERE USERNAME LIKE '%'||#{search}||'%' ORDER BY USERNAME ASC
</select>

<!-- <select id="myPage" parameterType="BankMembersDTO" resultType="BankMembersDTO">
SELECT USERNAME, NAME, EMAIL, PHONE FROM BANKMEMBERS WHERE USERNAME=#{userName}
</select>
 -->

<select id="myPage" parameterType="BankMembersDTO" resultMap="myPageResult">
SELECT USERNAME, BM.NAME, BM.EMAIL, BM.PHONE, BA.ACCOUNTNUM, BB.BOOKNAME, ACCOUNTDATE
FROM BANKMEMBERS BM
INNER JOIN BANKACCOUNT BA
USING(USERNAME)
INNER JOIN BANKBOOK BB
USING(BOOKNUM)
WHERE USERNAME=#{userName}
</select>

<resultMap type="BankMembersDTO" id="myPageResult">
	<id column="USERNAME" property="userName"/>
	<result column="NAME" property="name"/>
	<result column="EMAIL" property="email"/>
	<result column="PHONE" property="phone"/>
	
	<collection property="bankAccountDTOs" javaType="List" ofType="BankAccountDTO">
		<id column="ACCOUNTNUM" property="accountNum"/>
		<result column="ACCOUNTDATE" property="accountDate"/>
		
			<association property="bankBookDTO" javaType="BankBookDTO">
				<result column="BOOKNAME" property="bookName"/>
			</association>
		
	</collection>
	
	
	
	
</resultMap>

</mapper>