<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    

<!--namespace의 값은 사용할 DAO의 풀패키지명 -->	
    
<mapper namespace="com.iu.start.board.notice.NoticeDAO">

<select id="getFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
	SELECT * FROM NOTICEFILE WHERE FILENUM = #{fileNum}
</select>

<delete id="setFileDelete" parameterType="BoardFileDTO">
	DELETE NOTICEFILE WHERE FILENUM = #{fileNum}
</delete>

<insert id="setAddFile" parameterType="BoardFileDTO">
INSERT INTO NOTICEFILE 
VALUES(FILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
</insert>

<sql id="search">
	WHERE
		<choose>
			<when test="kind == 'title'">TITLE</when>
			<when test="kind == 'writer'">WRITER</when>
			<!-- <when test="kind == 'contents'">CONTENTS</when> -->
			<otherwise>CONTENTS</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
</sql>



<select id="getList" resultType="NoticeDTO" parameterType="Pager">
SELECT * FROM 
(SELECT ROWNUM R, N.* FROM
(SELECT * FROM NOTICE 
	<include refid="search"></include>

ORDER BY NUM DESC) N)
WHERE R BETWEEN #{startRow} AND #{lastRow}
</select>


<select id="getDetail" parameterType="BoardDTO" resultMap="getDetailResult">
SELECT * 
FROM NOTICE N
LEFT JOIN NOTICEFILE NF
ON N.NUM=NF.NUM
WHERE N.NUM = #{num}
</select>

<resultMap type="NoticeDTO" id="getDetailResult">
	<id column="num" property="num"/>
	<result column="TITLE" property="title"/>
	<result column="WRITER" property="writer"/>
	<result column="CONTENTS" property="contents"/>
	<result column="REGDATE" property="regDate"/>
	<result column="HIT" property="hit"/>
	
	<collection property="boardFileDTO" javaType="List" ofType="BoardFileDTO">
		<id column="FILENUM" property="fileNum"/>
		<result column="FILENAME" property="fileName"/>
		<result column="ORINAME" property="oriName"/>
	</collection>
</resultMap>

<insert id="setAdd" parameterType="BoardDTO">
<selectKey order="BEFORE" keyProperty="num" resultType="Long">
SELECT BOARD_SEQ.NEXTVAL FROM DUAL
</selectKey>
INSERT INTO NOTICE VALUES(#{num}, #{title}, #{contents}, #{writer}, SYSDATE, 0)
</insert>

<update id="setUpdate" parameterType="BoardDTO">
UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
</update>

<delete id="setDelete" parameterType="BoardDTO">
DELETE FROM NOTICE WHERE NUM = #{num}
</delete>

<select id="getCount" parameterType="Pager" resultType="Long">
SELECT COUNT(NUM) FROM NOTICE 
<include refid="search"></include>
</select>


</mapper>