<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    

<!--namespace의 값은 사용할 DAO의 풀패키지명 -->	
    
<mapper namespace="com.iu.start.board.notice.NoticeDAO">

<insert id="setAddFile" parameterType="BoardFileDTO">
INSERT INTO NOTICEFILE 
VALUES(FILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
</insert>

<sql id="search">
	WHERE
		<choose>
			<when test="kind == 'title'">TITLE</when>
			<when test="kind == 'writer'">WRITER</when>
			<!-- <when test="kind == 'contents'">CONTENTS</when> -->
			<otherwise>CONTENTS</otherwise>
		</choose>
		LIKE '%'||#{search}||'%'
</sql>

<select id="getList" resultType="NoticeDTO" parameterType="Pager">
SELECT * FROM 
(SELECT ROWNUM R, N.* FROM
(SELECT * FROM NOTICE 
	<include refid="search"></include>

ORDER BY NUM DESC) N)
WHERE R BETWEEN #{startRow} AND #{lastRow}
</select>

<select id="getDetail" parameterType="BoardDTO" resultType="NoticeDTO">
SELECT * FROM NOTICE WHERE NUM = #{num}
</select>

<insert id="setAdd" parameterType="BoardDTO">
<selectKey order="BEFORE" keyProperty="num" resultType="Long">
SELECT BOARD_SEQ.NEXTVAL FROM DUAL
</selectKey>
INSERT INTO NOTICE VALUES(#{num}, #{title}, #{contents}, #{writer}, SYSDATE, 0)
</insert>

<update id="setUpdate" parameterType="BoardDTO">
UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
</update>

<delete id="setDelete" parameterType="BoardDTO">
DELETE FROM NOTICE WHERE NUM = #{num}
</delete>

<select id="getCount" parameterType="Pager" resultType="Long">
SELECT COUNT(NUM) FROM NOTICE 
<include refid="search"></include>
</select>


</mapper>