<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    

<!--namespace의 값은 사용할 DAO의 풀패키지명 -->	
    
<mapper namespace="com.iu.start.notice.NoticeDAO">
	<select id="getList" parameterType="NoticeDTO" resultType="NoticeDTO">
	SELECT * FROM NOTICE
	</select>

<select id="getDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
SELECT * FROM NOTICE WHERE NUM = #{num}
</select>

<insert id="addNotice" parameterType="NoticeDTO">
INSERT INTO NOTICE VALUES(BOARD_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, SYSDATE, 0)
</insert>

<delete id="deleteNotice" parameterType="NoticeDTO">
DELETE FROM NOTICE WHERE NUM = #{num}
</delete>

<update id="updateNotice" parameterType="NoticeDTO">
UPDATE NOTICE SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
</update>

</mapper>